#back-to-top {
  background-color: #9cfb04 !important;
}
#back-to-top:hover i {
  color: #fff !important;
}
#back-to-top:hover {
  background-color: #08580d !important;
}
.switched-role-backlink {
  display: flex;
}
.coursebox {
  padding-left: 25px;
}
.teachers {
  color: #0c8714;
}
.course_category_tree .category > .info > .categoryname {
  font-size: 0.9rem !important;
  font-weight: 500 !important;
}
.summary {
  font-size: smaller !important;
}
.more-nav li {
  margin: 0 1px 0 1px !important;
}
.course-content #overlay {
  z-index: auto !important;
}
$primary: #5a0cb9 !default;
$secondary: #0c8714 !default;

$navbar-light-color: #fff;
$navbar-light-active-color: #fff !default; // Couleur du texte menu principal active (noir par défaut)
$navbar-light-hover-color: #9cfb04 !default;

$scrollbar-thumb: $primary;
$scrollbar-track: lighten($primary, 40%);
