/* # The Rotating Marker # */
details > summary {
  list-style: none;
}
summary::before {
  font-family: 'Hiragino Mincho ProN', 'Open Sans', sans-serif;
  content: '▶';
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  transform: rotate(0);
  transform-origin: center;
  transition: 0.2s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}

/* # The Sliding Summary # */
details {
  overflow: hidden;
}
details > summary {
  position: relative;
  z-index: 10;
}
@keyframes details-show {
  from {
    margin-bottom: -80%;
    opacity: 0;
    transform: translateY(-100%);
  }
}
details > *:not(summary) {
  animation: details-show 500ms ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  color: transparent;
  overflow: hidden;
}
details[open] > *:not(summary) {
  color: inherit;
}

/* # Just Some Pretty Styles # */

details {
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}
summary {
  border: 1px solid #dee2e6;
  outline: none;
  padding: 1rem;
  /*display: flex;*/
  background: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
details[open] summary,
summary:hover {
  color: #fff;
  background: #6c757d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
summary:hover strong,
details[open] summary strong,
summary:hover::before,
details[open] summary::before {
  color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.content {
  padding: 10px;
  border: 1px solid #dee2e6;
  border-top: none;
}
