/*---------------------------------------
 * Setting: Back to top button.
 --------------------------------------*/

#back-to-top {
	background-color: #fff !important;
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-moz-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	/* Hide the back to top icon initially. It will be unhidden by JS only. */
	display: none;
	/* Place the back to top button at a fixed place. */
	position: fixed;
	right: 2rem;
	/* As a start = on really small screens, the back to top button is shown in the bottom right corner. */
	bottom: 5rem;
	/* Make sure that the back to top button is not covered by anything else. */
	z-index: 10000;
	/* On larger screens, there is the footer button already in the bottom right corner and
       the back to top button has to be shown above of the footer button. */
	@include media-breakpoint-up(sm) {
		bottom: 5rem;
	}
	/* Animate position together with footer button. */
	@include transition(0.5s);
}
#back-to-top i::before {
	/* Move the caret icon slightly up for a nicer look. */
	vertical-align: 0.3rem;
}
@media (min-width: 992px) {
	#page.drawers.show-drawer-right #back-to-top {
		/* Move the back to top button when right drawer is shown. */
		right: calc(315px + 2rem);
	}
}

/* Grey and white hover button - see classes for look and feel */

#back-to-top:hover {
	background-color: #6c757d !important;
	color: white !important;
}
