/*En-tête de page - bandeau - recherche (Titre caché) */

#above-header {
  background-color: #6c757d !important;
}

/* Book links */

.navtop.navtext a:hover,
.navbottom.navtext a:hover {
  background-color: #6c757d !important;
}

/*titre des etiquettes modules et surlignage*/

hr.LabelTitle {
  border: 1px solid #6c757d;
  background-color: #6c757d;
}

hr.ProdTitle {
  border: 1px solid #6c757d;
}

/*Bandeau et Titres : master-cours-UE-Enseignement*/

.ens,
.ueEns {
  background-color: #99a2aa;
}

/* Chiffres en couleur */

ol.custom-numbers li::before {
  color: #6c757d;
}

/* List with bullets */

.list-bullets li::before {
  background: #6c757d;
}

/*bouton download*/

.btn-download:hover {
  color: #6c757d !important;
}

/*Boutons Compétences et attendus*/

.comp-btn {
  border-left: 2px solid #6c757d !important;
  color: #7f858d !important;
  border-color: #dee7f5 !important;
  border-left-color: #6c757d !important;
}

.comp-btn:hover {
  background-color: #dae0e5 !important;
}

/*badge de disponibilité des activités*/

.availabilityinfo span {
  background-color: #6c757d !important;
}

/*Etiquette Module et présentation*/

.partie {
  background-color: #6c757d !important;
  color: #ffffff !important;
}

/* Maj Moodle 3.11*/

/*Barre de chargement*/

.pace .pace-progress {
  background-color: #6c757d !important;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/*Fil d'ariane*/

.breadcrumb ul i,
.breadcrumb li.lastli span {
  color: #6c757d;
  text-decoration: none;
  font-weight: 600 !important;
}

.breadcrumb ul i:hover,
.breadcrumb li.lastli span:hover {
  color: #7f8081 !important;
  font-weight: 600 !important;
}

/*section.block h5 {
	background-color: #6c757d !important;
	border-color: #6c757d !important;
	color: #ffffff !important;
}*/
