/*Police Titillium*/

.titi {
	font-family: "Titillium Web", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*titres */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	
	font-weight: 400 !important;
	/*color: #1d1d1d !important;*/
	font-family: "Titillium Web", sans-serif !important;
}

/*line-height*/

.lh-1 {
	line-height: 1 !important;
}

.lh-sm {
	line-height: 1.25 !important;
}

.lh-base {
	line-height: 1.5 !important;
}

.lh-lg {
	line-height: 2 !important;
}

/*Largeur et hauteur*/

.w-35 {
	width: 35% !important;
}

.w-65 {
	width: 65% !important;
}

.w-90 {
	width: 90% !important;
}

.h-35 {
	height: 35% !important;
}

.h-65 {
	height: 65% !important;
}

.h-90 {
	height: 90% !important;
}

/*Bloc Html Lien vers Autres UE : Mes UE FAD*/
/*
.uelink {
	background: #fbfbfb;text-align: center;
} */

.lienUE {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	margin: 0.2rem;
	position: relative;
	width: 100%;
	height: auto;
}

/*Bandeau et Titres : master-cours-UE-Enseignement*/

.titreConteneur {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	padding: 0 !important;
}

.titreMaster {
	background-color: #343a40;
	padding: 0.5rem;
	margin-bottom: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	color: #fff ;
	font-weight: 300;
	text-transform: capitalize;
	/*white-space: nowrap;*/
	-ms-flex: 0 1 100% ;
	flex: 0 1 100%;
	font-size: 1.25rem ;
	/*overflow: hidden;*/
	-ms-flex-positive: 1;
	flex-grow: 1;
	font-family: "Titillium Web", sans-serif;
}

/* réduction du bandeau */

.titreEns {
	font-size: 1.25rem;
}

.ens {
	font-size: 1.25rem;
}

.ueEns {
	text-align: right;
	padding: 1rem;
	margin-bottom: 0.5rem;
	margin-right: 0.25rem;
	/*border-top-left-radius: .25rem;*/
	border-bottom-left-radius: 0.25rem;
	flex: 0 1%;
	max-width: 40%;
}

.ue {
	white-space: nowrap;
	line-height: 1;
	color: #fff;
	font-weight: 600;
}

.ens {
	white-space: nowrap;
	line-height: 1;
	color: #fff;
	font-weight: 600t;
}

.ens,
.ueEns {
	background-color: #6c757d;
}

.titreEns a:hover {
	color: #6c757d ;
	transition: 0.3s ease-in-out ;
}

a .ens,
a:visited .ens,
a:active .ens {
	color: #ffffff !;
	text-decoration: none ;
	transition: 0.1s ease-in-out ;
}

.titreUe {
	text-align: left;
	line-height: 1;
	color: #fff ;
	font-weight: 300 ;
}

.titreEns {
	text-align: left ;
	line-height: 1 ;
	color: #fff ;
	font-weight: 300 ;
}

a .ens,
a:visited .ens,
a:active .ens {
	color: #ffffff;
	text-decoration: none;
	transition: 0.1s ease-in-out;
}

a:hover.ens {
	color: #343a40;
}

.maintitle {
	background-color: #6c757d;
	padding: 1rem ;
	margin-bottom: 0.5rem ;
	flex-grow: 1 !important;
	/*border-top-right-radius: .25rem;*/
	border-bottom-right-radius: 0.25rem;
	flex: 0 1 80%;
	flex-grow: 0;
	max-width: 100%;
}

/*Pavé animé*/

.card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

/*Ombre image_holder : hover*/

.course-content ul.gridicons li .image_holder {
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.course-content ul.gridicons li .image_holder:hover {
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.034), 0 0px 0.9px rgba(0, 0, 0, 0.049),
		0 0px 1.6px rgba(0, 0, 0, 0.06), 0 0px 2.5px rgba(0, 0, 0, 0.07),
		0 0px 3.9px rgba(0, 0, 0, 0.08), 0 0px 6px rgba(0, 0, 0, 0.091), 0 0px 10px rgba(0, 0, 0, 0.106),
		0 0px 20px rgba(0, 0, 0, 0.14) !important;
}

/*Consignes et Infos*/

.consinfo {
	margin-bottom: 0.3rem !important;
	margin-top: 0.5rem !important;
	/*position: relative;*/
	padding: 0.75rem 1rem;
	text-align: left !important;
	width: 100% !important;
	background-color: transparent !important;
	color: #343a40 !important;
	/*-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-top-left-radius: 0.5rem !important;
	border-top-right-radius: 0.5rem !important;*/
}

/*titre des etiquettes modules et surlignage*/

hr.LabelTitle {
	width: 75px;
}

hr.ProdTitle {
	width: 75px;
}

.LabelTitle {
	margin: 0.4rem 0 0.9rem 0.6rem;
	text-align: left;
	font-size: 1.5em;
	font-weight: 600 !important;
}

.LabelTitleLight {
	margin: 0.4rem 0 0.9rem 0.6rem;
	text-align: left;
	font-size: 1.5em;
	font-weight: 600 !important;
	color: #fff !important;
}

.ProdTitle {
	margin: 0.2rem 0 0.9rem 0.6rem;
	text-align: left;
	font-size: 1.2em;
	/*letter-spacing: 1px;*/
}

/* Labels new design*/
div.LabelPart {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	background-color: #fbfbfb;
	border-radius: 5px;
	padding: 1rem !important;
	width: 100% !important;
	border: 1px solid #dee2e6;
}

div.LabelPartDark {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	background-color: #fbfbfb;
	border-radius: 5px;
	padding: 1rem !important;
	width: 100% !important;
	border: 1px solid #dee2e6;
	background-color: #343a40 !important;
}

.section .label .contentwithoutlink,
.section .label .activityinstance {
	/*! padding-right:32px; */
	padding: 0px !important;
	display: block;
	height: inherit;
}

/*Paragraphe etiquette*/

.LabelText {
	text-align: left !important;
	text-indent: 0.5rem;
	line-height: 1.5rem;
}

/*titre des etiquettes modules et surlignage*/

hr.LabelTitle {
	border: 1px solid #6c757d;
	background-color: #6c757d;
}

hr.ProdTitle {
	border: 1px solid #6c757d;
}

/*Listes*/

/*Liste avec barre verticale*/

.border-left-2 {
	border-left: 2px solid #dee2e6 !important;
	padding-left: 1rem !important;
}

.border-left-2 li {
	margin-bottom: 0.5em !important;
}

.border-left-3 {
	border-left: 3px solid #dee2e6 !important;
	padding-left: 1rem !important;
}

.border-left-3 li {
	margin-bottom: 0.5em !important;
}

.border-left-4 {
	border-left: 4px solid #dee2e6 !important;
	padding-left: 1rem !important;
}

.border-left-4 li {
	margin-bottom: 0.5em !important;
}

.border-left-5 {
	border-left: 5px solid #dee2e6 !important;
	padding-left: 1rem !important;
}

.border-left-5 li {
	margin-bottom: 0.5em !important;
}

/*Liste avec tiret "-"*/
.sousliste {
	list-style: none !important;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding-left: 24px;
}

.sousliste li:before {
	content: "- ";
	/* on affiche une chaîne de caractère */
	margin-right: 1rem;
}

/*Liste avec Icônes Fontawesome*/

.fa-ul {
	list-style-type: none !important;
	margin-left: 2.5em !important;
	padding-left: 0 !important;
}

.fa-ul li {
	margin-bottom: 0.5em !important;
}

/* Liste Chiffres en couleur */

.custom-numbers,
.numbers {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding-left: 24px;
}

.custom-numbers li,
.numbers li {
	counter-increment: my-awesome-counter;
}

.custom-numbers li::before,
.numbers li::before {
	content: counter(my-awesome-counter) ". ";
	font-weight: bold;
	margin-right: 1rem;
}

.list-group-item:last-child {
	border-bottom-width: 1px !important;
}

/* List with bullets */

.list-bullets li::before {
  background: #6c757d;
}

/*Couleurs UE*/

.text-ue2 {
	color: #eab819 !important;
}

.bg-ue2 {
	background-color: #eab819 !important;
}

hr.tiret-ue2 {
	border: 1px solid #eab819 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-ue2 {
	border: 1px solid #eab819 !important;
}

.text-jaune {
	color: #eab819 !important;
}

.bg-jaune {
	background-color: #eab819 !important;
}

hr.tiret-jaune {
	border: 1px solid #eab819 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-jaune {
	border: 1px solid #eab819 !important;
}

.text-violet {
	color: #9c23d4 !important;
}

.bg-violet {
	background-color: #9c23d4 !important;
}

hr.tiret-violet {
	border: 1px solid #9c23d4 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-violet {
	border: 1px solid #9c23d4 !important;
}

.text-bleu {
	color: #0066cc !important;
}

.bg-bleu {
	background-color: #0066cc !important;
}

hr.tiret-bleu {
	border: 1px solid #0066cc !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-bleu {
	border: 1px solid #0066cc !important;
}

.text-rouge {
	color: #cf2f44 !important;
}

.bg-rouge {
	background-color: #cf2f44 !important;
}

hr.tiret-rouge {
	border: 1px solid #cf2f44 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-rouge {
	border: 1px solid #cf2f44 !important;
}

.text-vert {
	color: #00693c !important;
}

.bg-vert {
	background-color: #00693c !important;
}

hr.tiret-vert {
	border: 1px solid #00693c !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-vert {
	border: 1px solid #00693c !important;
}

.text-orange {
	color: #fb4f14 !important;
}

.bg-orange {
	background-color: #fb4f14 !important;
}

hr.tiret-orange {
	border: 1px solid #fb4f14 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-orange {
	border: 1px solid #fb4f14 !important;
}

.text-gris {
	color: #6c757d !important;
}

.bg-gris {
	background-color: #6c757d !important;
}

hr.tiret-gris {
	border: 1px solid #6c757d !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-gris {
	border: 1px solid #6c757d !important;
}

.text-teal {
	color: #008080 !important;
}

.bg-teal {
	background-color: #008080 !important;
}

hr.tiret-teal {
	border: 1px solid #008080 !important;
	width: 75px;
	margin: 1.5rem 0 1rem 0rem;
}

.border-teal {
	border: 1px solid #008080 !important;
}

hr.tiret-dark {
	border: 1px solid #343a40 !important;
	width: 105px;
	margin: 1.5rem 0 1rem 0rem;
	border-radius: 0.2rem;
}

/*Etiquette Module et présentation*/

.partie {
	font-weight: 300 !important;
	padding: 1rem !important;
	border-top-left-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
	font-size: 1.75rem !important;
	font-family: "Titillium Web", sans-serif !important;
	display: flex !important;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	background-color: #6c757d !important;
  	color: #ffffff !important;
}

/* Maj Moodle 3.11*/

/*Barre de chargement*/

.pace .pace-progress {
  background-color: #6c757d !important;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/*Fil d'ariane*/

.breadcrumb ul i,
.breadcrumb li.lastli span {
  color: #6c757d;
  text-decoration: none;
  font-weight: 600 !important;
}

.breadcrumb ul i:hover,
.breadcrumb li.lastli span:hover {
  color: #7f8081 !important;
  font-weight: 600 !important;
}

/*Ombre portée*/

/*Boite*/

.ombre {
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-moz-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
}

/*Boutons Compétences et attendus*/

.comp-btn {
	position: relative !important;
	padding: 0.75rem 1.25rem !important;
	margin-bottom: 1rem !important;
	border: 1px solid transparent;
	border-radius: 0.25rem !important;
	padding: 0.25rem !important;
	margin-right: 0.5rem !important;
	font-size: 0.875rem !important;
	line-height: 1.5 !important;
	background-color: #f8f9fa !important;
}

.comp-btn {
  border-left: 2px solid #6c757d !important;
  color: #7f858d !important;
  border-color: #dee7f5 !important;
  border-left-color: #6c757d !important;
}

.comp-btn:hover {
  background-color: #dae0e5 !important;
}

/*Texte*/

.text-ombre {
	text-shadow: 1px 1px 1px #444;
}

/*bouton download*/

.btn-download {
	color: #212529 !important;
	background-color: transparent !important;
	border-color: #f8f9fa !important;
	display: inline-block !important;
	font-style: normal !important;
	font-variant: normal !important;
	text-rendering: auto !important;
	line-height: 1 !important;
	margin-bottom: 0 !important;
	text-align: center !important;
	text-shadow: none !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	background-image: none !important;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset !important;
}

.btn-download:hover {
	background-color: transparent !important;
}

/*Boutons Compétences et attendus

.comp-btn {
	position: relative !important;
	padding: 0.75rem 1.25rem !important;
	margin-bottom: 1rem !important;
	border: 1px solid transparent;
	border-radius: 0.25rem !important;
	padding: 0.25rem !important;
	margin-right: 0.5rem !important;
	font-size: 0.875rem !important;
	line-height: 1.5 !important;
	background-color: #f8f9fa !important;
}*/

/*Copy to clipboard button*/

.bd-clipboard {
    position: relative;
    display: none;
    float: right
}

.bd-clipboard+.highlight {
    margin-top: 0
}

@media (min-width: 768px) {
    .bd-clipboard {
        display:block
    }
}

.btn-clipboard {
	position: absolute;
        top: .65rem;
        right: .65rem;
        z-index: 10;
        display: block;
        padding: .25rem .5rem;
        font-size: 65%;
        color: #343a40;
	background-color: #fff;
        border: 1px solid;
        border-radius: .25rem;
	transition: all 0.15s ease-in-out;
}

.btn-clipboard:hover,.btn-clipboard:focus {
	color: #fff;
        background-color: #343a40;
	transition: all 0.15s ease-in-out;
}

.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

@media (min-width: 576px) {
    .highlight {
        padding:1.5rem
    }
}

/* code html*/

/*.snippet {
	background: #3c3c3c !important;
	border-radius: 4px !important;
	border: 1px solid #ddd !important;
}

pre {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font: 12px Consolas, liberation mono, Menlo, Courier, monospace !important;
	font-family: Consolas, "liberation mono", Menlo, Courier, monospace;
}

code {
	white-space: pre-wrap;
}

.code-card {
	padding: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: #fff !important;
}*/

/*New Copy code 2024*/
 section.copy-code {
        overflow: auto;
        display: grid;
        max-width: 95%;
        max-height: 250px;
        margin: 20px auto;
        pre[class*="language-"] {
          position: relative;
          overflow: auto;
          /* make space  */
          margin: 5px 0;
          padding: 1.75rem 0 1.75rem 1rem;
          border-radius: 10px;
          text-shadow: none !important;
        }

        pre[class*="language-"] button {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 0.9rem;
          background-color: #b4b4b4;
          border: ridge 1px #7b7b7c;
          border-radius: 5px;
          text-shadow: #c4c4c4 0 0 2px;
          transition: all 0.2s ease-in-out;
        }

        pre[class*="language-"] button:hover {
          cursor: pointer;
          background-color: #d3d3d3;
          transition: all 0.2s ease-in-out;
        }
      }

/*Opacité */

.opacity-0 {
	opacity: 0 !important;
}

.opacity-1 {
	opacity: 0.2 !important;
}

.opacity-2 {
	opacity: 0.4 !important;
}

.opacity-3 {
	opacity: 0.6 !important;
}

.opacity-4 {
	opacity: 0.8 !important;
}

.opacity-5 {
	opacity: 1 !important;
}

/*Opacité Survol */

.opacity-0h5 {
	opacity: 0 !important;
	transition: opacity 0.25s ease-in-out !important;
	-moz-transition: opacity 0.25s ease-in-out !important;
	-webkit-transition: opacity 0.25s ease-in-out !important;
}

.opacity-0h5:hover {
	opacity: 1 !important;
}

/*NEO*/

/*Bloc droit UE*/
.bouton-titre {
	position: relative;
	min-width: 90%;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	text-align: left !important;
	padding: 0.5rem !important;
	margin-bottom: 0.5rem !important;
	height: 100% !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	font-weight: bold;
}

.bouton-titre-home {
	border-style: solid;
	border-width: 0 0 1px 3px;
	border-color: #68696b;
	color: #68696b;
}

.bouton-titre-home:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
}

.bouton-titre-bleu {
	border-style: solid;
	border-width: 0 0 1px 3px;
	border-color: #0066cc;
	color: #0066cc;
}

.bouton-titre-jaune {
	border-style: solid;
	border-width: 0 0 1px 3px;
	border-color: #eab819;
	color: #eab819;
}

.bouton-jaune {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	/*-ms-flex-direction: column;
  ! flex-direction: column;
  min-width: 30%;*/
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	border-left: 3px solid #eab819 !important;
	/*-ms-flex: 1 0 0%;
    flex: 1 0 0%;*/
	/*margin-right: 15px;*/
	margin-left: 15px;
	/*! text-align: left !important; */
	padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
	margin-bottom: 0.5rem !important;
	height: 100% !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	justify-content: space-between !important;
}

.bouton-jaune:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
}

.bouton-bleu {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	/*-ms-flex-direction: column;
  ! flex-direction: column;
  min-width: 30%;*/
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	border-left: 3px solid #0066cc !important;
	/*-ms-flex: 1 0 0%;
    flex: 1 0 0%;*/
	/*margin-right: 15px;*/
	margin-left: 15px;
	/*! text-align: left !important; */
	padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
	margin-bottom: 0.5rem !important;
	height: 100% !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	justify-content: space-between !important;
}

.bouton-bleu:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bouton-rose {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	/*min-width: 30%;*/
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	border-left: 3px solid #cf2f44 !important;
	/*-ms-flex: 1 0 0%;
    flex: 1 0 0%;*/
	/*margin-right: 15px;*/
	margin-left: 15px;
	text-align: left !important;
	padding: 0.5rem 0.5rem 0.5rem 0 !important;
	margin-bottom: 0.5rem !important;
	height: 100% !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bouton-rose:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bouton-vert {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	/*min-width: 30%;*/
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	border-left: 3px solid #00693c !important;
	/*-ms-flex: 1 0 0%;
    flex: 1 0 0%;*/
	/*margin-right: 15px;*/
	margin-left: 15px;
	text-align: left !important;
	padding: 0.5rem 0.5rem 0.5rem 0 !important;
	margin-bottom: 0.5rem !important;
	height: 100% !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bouton-vert:hover {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*Bloc de droite*/
#block-region-side-pre .h5 {
	display: flex !important;
	/*padding: 0.5rem 0.6rem 0rem 0.6rem !important;*/
	padding: .75rem 1.25rem;  
	/*margin-bottom: 0.5rem !important;*/
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility;
	color: #343a40 !important;
}

#block-region-side-pre .card {
	border: none !important;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-top: 1px solid #dadbdb !important;
}

.card-text.content.mt-3 {
	box-shadow: 0 -7px 4px -7px rgba(0, 0, 0, 0.25);
}

section.block .card-text {
	margin-top: 0 !important;
	padding: 1rem !important;
	margin-bottom: 0;
}

/*section.block h5 {
  display: flex !important;
  padding: 10px !important;
  border-radius: 5px 5px 0 0 !important;
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 400 !important;
}*/

section.block div.card-body {
	padding: 0px !important;
}

/*Icone activités -  Ressources couleur boost => #343a40;* et icône carré*/

.activityiconcontainer {
	/*! background-color: #a4a7aa !important; */
	border-radius: 5px !important;
	-webkit-filter: grayscale(40%) !important;
	filter: saturate(0%);
}

/*scrollbar en trop sur la page de la section en vue image (corrigé ?)
#region-main {
  overflow-x: visible !important ;
}*/

/**scrollbar violet trop voyant**/
#page,
.drawercontent {
	scrollbar-color: #e3e7ea transparent !important;
}

/**Nom de section à gauche
.single-section h3.sectionname {
  text-align: left !important;
  clear: both;
  margin-left: 8.5% !important;
}**/

/** Suppression titre de section 0 (nouvelle version grid format : 15/09/2022**/

.grid #section-0 .course-section-header .sectionname {
	display: none !important;
}

/**Delete border and goto arrow section 0 version Moodle 4.4.1 : 15/07/2024**/
.grid #section-0 .section-item {
	border: none !important;
}
.grid .section_goto.bulk-hidden.ml-auto {
	display: none;
}

/* Design Filter codes*/
.blockCourse .card-deck .card {
	min-width: 250px !important;
}

/*Correctif BoostAmu*/
.btn-secondary {
	color: #fff !important;
	background-color: #6c757d !important;
	border-color: #6c757d !important;
}

.btn-secondary:hover {
	color: #fff !important;
	background-color: #5c636a !important;
	border-color: #565e64 !important;
}

/*Tuiles*/

#multi_section_tiles {
	/*! max-width: 996.668px; */
	max-width: 95% !important;
}

.format-tiles .course-content ul.tiles .tile {
	flex-basis: 256px !important;
	max-width: 256px !important;
	flex-grow: 0 !important;
	max-height: 171px !important;
}

.format-tiles ul.tiles#multi_section_tiles {
	justify-content: center !important;
}

.tile.spacer {
	display: none !important;
}

/*Tuiles design*/
.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text h3 {
	/* background-color: rgba(122,154,1, 1); */
	background-color: #f2f2f2 !important;
	height: 55px !important;
	font-size: 14px !important;
	opacity: 0.9 !important;
}

.format-tiles .phototile .progress-indic,
.format-tiles .subtile.hasphoto .activitytype,
.format-tiles.editing .subtile.hasphoto .editable-title {
	/* background-color: rgba(122,154,1, 1); */
	/*background-color: #eab819 !important;*/
	opacity: 0.9 !important;
	/*color: #333 !important;*/
	border-radius: 5px 0 0 5px !important;
}

/* 
.format-tiles .course-content ul.tiles .tile,
.format-tiles li.section:not(#section-0) .course-section-header {
 border-top-color: rgba(122,154,1, 1); 
 border-top-color: #eab819 !important;
}
*/
.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text h3,
.format-tiles .course-content .subtile.hasphoto .activityname h4 {
	/* color: #fff; */
	color: #343a40 !important;
}

.format-tiles ul.tiles .tile h3 {
	/* color: #333; */
	color: #343a40 !important;
}

/*Largeur Editeur Atto*/
#id_introeditoreditable {
	width: 100% !important;
}

/*Icones font-awesome*/

.icons::before {
	display: inline-block;
	margin-right: var(--fa-pull-margin, 0.5em);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.competences::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f085";
}

.ects::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f19d";
}

.modules::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f0e8";
}

/*.ue::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f126";
}*/

.objectifs::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f140";
}

.chatFad::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f086";
}

.forumFad::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f0c0";
}

.tutorFad::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f4c4";
}

.tiret::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f068";
}

.lienExt::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f0c1";
}

.menu-icon::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f0c9";
}

.download::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f019";
}

.important::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f071";
}

.back::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f0a8";
}

a[data-toggle="collapse"] i.fas:before {
	content: "\f107";
	/* angle-down */
}

a[data-toggle="collapse"].collapsed i.fas:before {
	content: "\f106";
	/* angle-up */
}

/*ajout de l'icône consigne automatiquement Moodle v4*/
/*
.activity-header #intro .no-overflow::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  content: "\f51c";
  font-size: 2.8rem;
  display: inline-block;
  float: left;
  margin-right: var(--fa-pull-margin,.3em);
}*/

.cache {
	display: none !important;
}

/* alignement titre / bandeau / image + typo liens sections */
.course-content .single-section .section-navigation .mdl-left {
	font-weight: 200 !important;
	margin-bottom: 2%;
}

.course-content .single-section .section-navigation .mdl-right {
	font-weight: 200 !important;
	margin-bottom: 2%;
}
/*Ajout fleche fontawesome pour la navigation entre sections, format section personnalisable et sections réduites*/
#page-course-view-section-topics, #page-course-view-section-topcoll  {
  .larrow {
	display: none !important;
}

.rarrow {
	display: none !important;
}
  .course-content .single-section .section-navigation {
    
    .nextsection::after {
	font-family: "Font Awesome 6 Free";
	font-weight: 400;
	content: "\f35a";
	margin-right: 10px;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
      margin-left: 0.25rem !important;
}
    .prevsection::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 400;
	content: "\f359";
	margin-right: 10px;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
      margin-right: 0.25rem !important;
}
  }
}

@media (min-width: 576px) {
	.section .label .mod-indent-outer {
		padding-left: 0px;
		display: block;
	}

	.course-content ul.section {
		margin: 0rem;
	}
}

/*book design*/

.book_content {
	box-shadow: 0 0px 0.5px rgba(0, 0, 0, 0), 0 0px 0.6px rgba(0, 0, 0, 0.02),
		0 0px 0.7px rgba(0, 0, 0, 0.03), 0 0px 0.8px rgba(0, 0, 0, 0.04),
		0 0px 0.9px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.06), 0 0px 2px rgba(0, 0, 0, 0.07),
		0 0px 3px rgba(0, 0, 0, 0.08) !important;
	-webkit-box-shadow: 0 0px 0.5px rgba(0, 0, 0, 0), 0 0px 0.6px rgba(0, 0, 0, 0.02),
		0 0px 0.7px rgba(0, 0, 0, 0.03), 0 0px 0.8px rgba(0, 0, 0, 0.04),
		0 0px 0.9px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.06), 0 0px 2px rgba(0, 0, 0, 0.07),
		0 0px 3px rgba(0, 0, 0, 0.08) !important;
	-moz-box-shadow: 0 0px 0.5px rgba(0, 0, 0, 0), 0 0px 0.6px rgba(0, 0, 0, 0.02),
		0 0px 0.7px rgba(0, 0, 0, 0.03), 0 0px 0.8px rgba(0, 0, 0, 0.04),
		0 0px 0.9px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.06), 0 0px 2px rgba(0, 0, 0, 0.07),
		0 0px 3px rgba(0, 0, 0, 0.08) !important;
	width: 98% !important;
	/*text-indent: 0.5rem;*/
	/* line-height: 1.5rem; */
	margin-left: auto !important;
	margin-right: auto !important;
	/* margin-bottom: 1.5rem !important; */
	/* margin-top: 1.5rem !important; */
	/* padding: 1rem !important; */
	background-color: #f8f9fa !important;
	/* z-index: -1; */
}

.box.py-3.contents {
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	-moz-box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.017), 0 0px 0.9px rgba(0, 0, 0, 0.024),
		0 0px 1.6px rgba(0, 0, 0, 0.03), 0 0px 2.5px rgba(0, 0, 0, 0.035),
		0 0px 3.9px rgba(0, 0, 0, 0.04), 0 0px 6px rgba(0, 0, 0, 0.046), 0 0px 10px rgba(0, 0, 0, 0.053),
		0 0px 20px rgba(0, 0, 0, 0.07) !important;
	width: 98% !important;
	/*! text-indent: 0.5rem; */
	line-height: 1.5rem;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 1.5rem !important;
	margin-top: 1.5rem !important;
	padding: 1rem !important;
	background-color: #f8f9fa !important;
}

/*Dossier déplié : Suppression icône origine (bleu clair) Activité "Dossier" */

/*.fp-icon {
  display: none;
}*/

.fp-filename-icon {
	margin-top: 0px !important;
}

/*suppression du fond mauve des liens en "focus*/

.aalink.focus,
a.focus.autolink,
.aalink:focus,
a.autolink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance > a.focus,
.activityinstance > a:focus {
	background-color: transparent !important;
	box-shadow: none !important;
	color: #a2aab3 !important;
}

/** ================================================================================
Modification affichage card (nouvelle version grid format : 15/09/2022- corr30/11/22
=================================================================================**/
.format-grid .thegrid {
	justify-content: center !important;
}

.format-grid .thegrid .grid-section.card {
	border: none !important;
	/*! border-radius: 0.5rem 0.5rem 0 0; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
	/*margin-bottom: 1rem;*/
}

.format-grid .thegrid .grid-section.card:hover {
	text-decoration: none !important;
	color: black !important;
	box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.034), 0 0px 0.9px rgba(0, 0, 0, 0.049),
		0 0px 1.6px rgba(0, 0, 0, 0.06), 0 0px 2.5px rgba(0, 0, 0, 0.07),
		0 0px 3.9px rgba(0, 0, 0, 0.08), 0 0px 6px rgba(0, 0, 0, 0.091), 0 0px 10px rgba(0, 0, 0, 0.106),
		0 0px 20px rgba(0, 0, 0, 0.14) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
	/*! border-radius: 0.5rem 0.5rem 0 0; */
	border: none !important;
}

.format-grid .thegrid a:hover {
	text-decoration: none !important;
}

.format-grid .thegrid .card-header {
	font-family: "Titillium Web", sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	/*font-size: smaller !important;*/
	
	text-align: center !important;
	background-color: transparent !important;
	color: #343a40 !important;
	padding: 0.3rem 0.5rem !important;
	height: 50px !important;
	align-items: center !important;
	justify-content: center !important;
	display: flex !important;
	flex-wrap: wrap !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	background-color: #fbfbfb !important;
	white-space: inherit !important;
	
	.h4.text-truncate {
    font-size: 1em;
}
}

.format-grid .thegrid .grid-image img {
	border-bottom-right-radius: calc(0.5rem - 1px);
	border-bottom-left-radius: calc(0.5rem - 1px);
}

.format-grid .thegrid .grid-image img {
	border-bottom-right-radius: calc(0.5rem - 1px);
	border-bottom-left-radius: calc(0.5rem - 1px);
}

/* Home grid: replace text with home icon */
.format-grid{
.stateready p.text-right {
	font-size: 0px !important;
}

.stateready p.text-right a, 
.stateready p.text-right a:hover::before{
	text-decoration: none !important;
}

.stateready p.text-right a::before {
	margin-right: 0.5rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f015";
	font-size: 16px !important;
}
}

/* Index */
.courseindex .courseindex-item.courseindex-section-title a {
	font-family: "Titillium Web", sans-serif !important;
}

.index-subtitle {
    font-weight: 700;
    color: var(--secondary);
}

.courseindex .courseindex-item.pageitem .index-subtitle:hover {
    color: #ffffff;
}

/* fAD PE FAQ course block */

.block_fcl_content {
	color: #000 !important;
}

.block-fcl__rubric a {
	font-family: "Titillium Web", sans-serif;
}

.block-fcl__list__link {
	color: #495057 !important;
	font-size: smaller !important;
}

.block-fcl__list__link:hover {
	text-decoration: none !important;
}

/* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
/* --------------------------------------
Card rotating cross
-------------------------------------------
*/

.card {	
		/* Horizontal line */
.collapsible-link::before {
	content: "";
	width: 14px;
	height: 2px;
	background: var(--dark);
	position: absolute;
	top: calc(50% - 1px);
	right: 1rem;
	display: block;
	transition: all 0.3s;
	/* color: white !important; */
}

/* Vertical line */
.collapsible-link::after {
	content: "";
	width: 2px;
	height: 14px;
	background: var(--dark);
	position: absolute;
	top: calc(50% - 7px);
	right: calc(1rem + 6px);
	display: block;
	transition: all 0.3s;
}
.bg-dark {
	/* Horizontal line */
	.collapsible-link::before {
		content: "";
	width: 14px;
	height: 2px;
		background:#fff;
		position: absolute;
	top: calc(50% - 1px);
	right: 1rem;
	display: block;
	transition: all 0.3s;
	}
/* Vertical line */
.collapsible-link::after {
	content: "";
	width: 2px;
	height: 14px;
	background:#fff;
	position: absolute;
	top: calc(50% - 7px);
	right: calc(1rem + 6px);
	display: block;
	transition: all 0.3s;
	}
}	
}
/* --------------------------------------
Light rotating cross
-------------------------------------------
*/
/* Horizontal line */
.collapsible-link-light::before {
	content: "";
	width: 14px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: calc(50% - 1px);
	right: 1rem;
	display: block;
	transition: all 0.3s;
}

/* Vertical line */
.collapsible-link-light::after {
	content: "";
	width: 2px;
	height: 14px;
	background: #fff;
	position: absolute;
	top: calc(50% - 7px);
	right: calc(1rem + 6px);
	display: block;
	transition: all 0.3s;
}
/* --------------------------------------
Dark rotating cross
-------------------------------------------
*/
/* Horizontal line */
.collapsible-link-dark::before {
	content: "";
	width: 14px;
	height: 2px;
	background: #000;
	position: absolute;
	top: calc(50% - 1px);
	right: 1rem;
	display: block;
	transition: all 0.3s;
}

/* Vertical line */
.collapsible-link-dark::after {
	content: "";
	width: 2px;
	height: 14px;
	background: #000;
	position: absolute;
	top: calc(50% - 7px);
	right: calc(1rem + 6px);
	display: block;
	transition: all 0.3s;
}

.collapsible-link[aria-expanded="true"]::after {
	transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded="true"]::before {
	transform: rotate(180deg);
}

/*===========================================*
Fixed-navbar - Moodle Academy-like
*============================================*/
.navbar.fixed-top.navbar-light.bg-white.navbar-expand {
	box-shadow: 0 4px 15px -7px rgba(0, 0, 0, 0.25) !important;
	border: none !important;
}

/* Black Burger Menu svg */
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*============================================*
Images for categories
*=============================================*/
/*==Filter codes category==*/
.fc-categorycards .card-img-overlay {
  min-height: 95% !important;
  border-radius: 0px !important;
  font-weight: 400;
font-family: 'Titillium Web', sans-serif;
  text-shadow: none !important;
}

.fc-categorycards {
  justify-content: center;
}

/* Course image size in course category */
.coursebox .content .courseimage img {
	max-width: 250px;
	max-height: 100px;
}

/* Formatting for fadPe category */
#fadPe .card-deck .card .card-img-top {
	height: 100px !important;
	max-width: 350px !important;
	padding-top: 0% !important;
}

#fadPe .card-deck {
	justify-content: center !important;
}

/* ======Bootstrap table revision====== */

.table-striped tbody tr:nth-of-type(2n + 2) {
	/* background-color: rgba(0,0,0,.05); */
	background-color: #f1f4f7 !important;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
	/* background-color: rgba(0,0,0,.03); */
	background-color: #fbfbfb !important;
}

.table-hover tbody tr:hover {
	/* background-color: rgba(0,0,0,.075); */
	background-color: #e9ecef !important;
}

.table {
	/* margin-bottom: 1rem; */
	margin-bottom: 0 !important;
}

/* Bdd tertiary-navigation sticky buttons "Save and export as preset" */

.tertiary-navigation .navitem {
	margin-right: 5px !important;
}

/* Remove duplicate instructions/descriptions and titles */
/* Questionnaire */

.mod_questionnaire_viewpage .intro {
	display: none !important;
}

.mod_questionnaire_viewpage h2 {
	display: none !important;
}

/* Poodll ReadAloud (Read Aloud) */

.box.py-3.mod_intro_box.mod_readaloud_center {
	display: none !important;
}

/* Improve Poodll Read Aloud Activity Logo */

.readaloud .activityiconcontainer.assessment .activityicon {
	filter: none !important;
}

.modicon_readaloud .icon.activityicon {
	filter: none !important;
}

/* Interview table */
.tbody-space::before {
	content: "\200C";
	display: block;
	line-height: 1rem;
	background-color: white !important;
}

/*Comments in Moodle DataBase activity*/
.comment-link {
	color: #fff;
	background-color: #5a0cb9;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	padding: 0.375rem 0.75rem;
	font-size: 0.9375rem;
	line-height: 1.5;
	margin-top: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comment-link:hover {
	background-color: #490a95;
	border-color: #430989;
	text-decoration: none;
	color: #fff;
}

/* Styles for the comment container */
.comment-ctrl {
	position: relative;
	min-width: 0;
	min-height: 1px;
	padding: 1.25rem;
	margin-top: 0.25rem;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.5rem;
	word-wrap: break-word;
}

/* Remove box shadow on buttons when focused */
[role="button"]:focus {
	box-shadow: none !important;
}

/* Styling for H5P Drag-n-Drop */
/* --------------------------- */

/* Styling for the H5P label */
.h5p-label {
	background-color: rgb(12, 135, 20) !important;
	color: #ffffff !important;
}

/* Styling for the H5P draggable element */
.h5p-dragquestion .h5p-draggable {
	/* Add a box shadow */
	-webkit-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
	/* Set the background color */
	background: #fbfbfb !important;
}

/* Styling for the H5P draggable element when hovered */
.h5p-dragquestion
	.h5p-draggable:not(.ui-state-disabled).h5p-draggable-hover:not(.h5p-correct):not(.h5p-wrong) {
	/* Add a border */
	border: 0.1em solid rgb(212, 190, 216);
	/* Set the background color */
	background-color: #5a0cb9 !important;
	/* Set the text color */
	color: #ffffff;
}

/* Styling for Glossary */
/* --------- General ------------ */

/* Styling for concept headings and glossary category headers */
.concept h4,
.glossarycategoryheader h3 {
	color: var(--dark) !important;
	padding: .5em;
}

/* Styling for the time element */
.time {
	font-size: small !important;
	font-weight: 400 !important;
	font-style: italic !important;
}

/* Styling for the entry header */
.entryheader {
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Styling for the glossary entry */
.entry {
	padding: 1.25rem;
}

/* Styling for the glossary post */
.glossarypost {
	word-break: break-word !important;
	word-wrap: break-word !important;
}

/* Responsive styling for the glossary post */
@media (min-width: 992px) {
	.glossarypost {
		width: 70% !important;
		/* Set the width to 70% on larger screens */
	}
}

/* Styling for the glossary show entry page content */
#page-mod-glossary-showentry #page-content {
	min-width: 100% !important;
	/* Set the minimum width to 100% */
}

/* --------- glossary and video-js mm24 style ------------ */

.glossarycategoryheader h3 {
  padding: .5em;
}

.glossarycategoryheader {
  background-color: color-mix(in srgb,var(--primary),#0000 95%);  
  border-radius: 5px;
  margin-bottom: 1em !important;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.glossarypost label {
  margin-right: .5rem;
}

.concept h4 {
  font-size: 2rem !important;
}

.concept h4::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: var(--secondary);
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card-contrib{
	.speaker {
  a {
    color: var(--secondary) !important;
  }

  &:hover {
    a {
      color: var(--secondary) !important;
    }
  }
}
	.row.no-gutters {
  gap: 5px;
}
.confirmation-message {
  .row.no-gutters {
    flex-direction: column !important;

    .col-md-2 {
      max-width: 70% !important;
    }
  }
}
}
.block_glossary_random {

  .col-lg-5.col-sm-12,
  .col-lg-8.col-sm-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.cite.text-long {
  height: auto !important;
  overflow-y: hidden !important;
  background-color: var(--light) !important;
}


.glossaryexplain {
  display: none;
}

.table-primary,
.table-primary>th,
.table-primary>td {
  border-radius: 5px;
}

.text-long {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: var(--secondary) var(--light);
    scrollbar-width: thin;
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem!important;
    padding: 1rem;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,.45),inset 5px 5px 9px rgba(94,104,121,.3)
}
	
.video-js {
  color: var(--light) !important;
  background-color: transparent !important;
  font-size: .5em !important;
	
  .vjs-time-tooltip,
  .vjs-volume-tooltip {
    display: none !important;
  }
}

.video-js .vjs-control-bar {

  background-color: color-mix(in srgb,var(--secondary),#0000 60%) !important;
  border-radius: 5px !important;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  display: none !important;
}

.editor_atto_wrap audio {
  max-width: 150px !important;
}

.bg-secondary, .bg-dark{
.video-js {
  color: var(--light) !important;
  background-color: transparent !important;
  font-size: .5em !important;
	
  .vjs-time-tooltip,
  .vjs-volume-tooltip {
    display: none !important;
  }
}

.video-js .vjs-control-bar {

  background-color: color-mix(in srgb,var(--secondary),#0000 50%) !important;
  border-radius: 5px !important;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  display: none !important;
}

.editor_atto_wrap audio {
  max-width: 150px !important;
}
}

* Styling for Questionnaire */
/* ------------------------- */

/* Styling for the text editor in the questionnaire container */
.qn-container .editor_atto_content {
	border: 1px solid #8f959e;
	border-top: 1px solid rgb(143, 149, 158);
}

/* Styling for the questionnaire question */
.qn-question {
	padding: 0.25em 5px;
	background-color: #6a737b;
	border-radius: 5px;
	color: white !important;
}

/* Hide the default activity icon in the questionnaire */
.activitytitle.media.modtype_questionnaire.position-relative.align-self-start img.activityicon {
	display: none !important;
}

/* Add a custom icon for the questionnaire */
.activitytitle.media.modtype_questionnaire.position-relative.align-self-start
	.activityiconcontainer::before {
	/* Use Font Awesome 6 Free for the custom icon */
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
	content: "\f682";
	font-size: xxx-large !important;
	color: #be7093;
	/* The commented out font-size property may not be necessary */
	/*! font-size: var(--fa-font-light); */
}

/* Glossary: FAQ FAD */
/*Faq Content*/
.faq-content ul {
	/* Use flexbox to arrange list items in a column with 10px spacing between them */
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding-left: 24px;
	list-style: none;
	/* Remove default bullet points */
}

.faq-content ul li:before {
	/* Use Font Awesome icon as a bullet point */
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f068";
	margin-right: 1rem;
}

/* References */
.ref-container {
	/* Use flexbox to arrange reference items in a row with 6px spacing between them */
	display: flex;
	flex-flow: row wrap;
	row-gap: 6px;
}

.ref-content {
	/* Use flexbox to arrange reference content */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap !important;
}

.ref-item {
	/* Set the style for reference items */
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: max-content;
	height: 24px;
	padding: 0px 5px;
	margin-inline-end: 6px;
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: 500;
	line-height: 24px;
	font-size: 80%;
	color: white;
	background-image: linear-gradient(to right, #a37ed0 0%, #bd9ce8 51%, #6415c1 100%);
	background-size: 200% auto;
	transition: 0.5s;
	box-shadow: 0 0 20px #eee;
}

.ref-item:hover {
	/* Change the background position and color of reference items on hover */
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.learn-more {
	/* Set the style for the learn more button */
	position: relative;
	min-width: fit-content;
	height: 24px;
	left: 1px;
	margin-right: 6px;
	line-height: 24px;
	font-weight: 700;
}

/* Badge colors */
.badge-moodle {
	/* Set the style for moodle badges */
	color: #fff !important;
	background-color: #f27f22 !important;
}

a.badge-moodle:focus,
a.badge-moodle:hover {
	/* Set the style for moodle badge links on hover/focus */
	color: #fff !important;
	background-color: #d39e00 !important;
}

.badge.bg-secondary {
	background-color: var(--secondary) !important;
}

/* Table of contents */
.tableOfContentsFixed {
	/* Set the style for the fixed table of contents */
	position: fixed;
	max-width: 25%;
}

.bookContent {
	/* Set the margin for the content of the book */
	margin-left: 25%;
}

.table-of-contents {
	/* Set the style for the table of contents */
	font-size: 0.8rem;
	margin-bottom: 0;
	padding-left: 10%;
	list-style: none;
	/* Remove default bullet points */
}

.table-of-contents,
.table-of-contents ul {
	/* Remove default padding and margin from the table of contents and its list items */
	padding: 4%;
}

.table-of-contents li {
	/* Set the margin for the list items in the table of contents */
	margin: 5% 2%;
}

.table-of-contents__left-border {
	/* Add a left border to the table of contents */
	border-left: 1px solid #1f683d;
}

.table-of-contents__link {
	display: block;
}

.table-of-contents__link--active,
.table-of-contents__link--active code,
.table-of-contents__link:hover,
.table-of-contents__link:hover code {
	color: #1f683d;
	text-decoration: none;
}

.bookContent h2 {
	margin-top: 3rem !important;
}

/*-------correctif Boost Union - dropdown button -- note simplifiée -----.tertiary-navigation .btn > div {max-width: 200px;}-------------------*/
.tertiary-navigation .btn > div {
  white-space: normal !important;
}
/*Correctif bdd 100%*/
@media (min-width:768px) {


 body.mediumwidth #page.drawers .main-inner {
  max-width:100% !important;
 }

}
/*-----------------------------------
Navigation tabs background-color with bg-secondary (dark grey)
-------------------------------------*/
.card-header.bg-secondary .nav-tabs .nav-link {
  background-color: #d2d2d282;
  border-right: 1px solid #ddd;
}
.card-header.bg-secondary .nav-tabs .nav-link.active {
  background-color: white !important;
}
/*------------------------------------
Back to grey for bg-secondary
------------------------------------*/
.bg-secondary {
	background-color: var(--gray) !important;
}

/*-------------------------------------
Ombre autour des avatars vides
-------------------------------------*/
.userinitials {
 box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
/*--------------------------------------
Form Input Width - id custom-form
--------------------------------------*/
#custom-form .basefieldinput {
  width: 100% !important;
}

/*---------------------------------------
hover card-img-top link (filter code) course category
--------------------------------------*/
#page-course-index-category  {
	a:hover .card-img-top, a:hover .card-img {
	filter: brightness(60%);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	}
	a .card-img-top, a .card-img{
	filter: brightness(100%);
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	}
	.tertiary-navigation{
    padding:2em;
    background-color: #f8f9fa;
}
}

/*----------------------------------------------
Inspé button - html block
-----------------------------------------------*/
.logo_inspe:hover {
	filter: brightness(70%);
	transition: all 1s;
}

.logo_inspe {
    transition: 1s all;
}
/* highlight mm24 style*/
.line-left {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--secondary);
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}
