#page-navbar {
  background-color: #fbfbfb !important;
  padding: 0.3em 0.6em 0.3em 0.6em !important;
  opacity: 0.85;
  border-radius: 5px;
  color: #020202 !important;
  margin-bottom: 0.2em !important;
}

#page-header {
  max-height: 30.9em;
  background-position: center 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://applis.inspe.univ-amu.fr/fad/img/general/stJerome.jpg');
  background-color: #fff !important;
  border-radius: 5px !important;
  padding: 3.3em 0.5em 3.3em 0.5em !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-context-header .page-header-headings {
  /* color: #0c8714; */
  color: #fff !important;
  background-color: #333 !important;
  padding: 0.3em 0.6em 0.3em 0.6em !important;
  opacity: 0.85;
  border-radius: 5px;
}
